In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [10]:
filter_ratings = ratings.groupby('userId').agg(['min', 'max', 'count'])['timestamp'].reset_index()
filter_ratings = filter_ratings[filter_ratings['count']>100]
filter_ratings.head()

    userId         min         max  count
3        4   949778714   949982274    204
7        8  1154389340  1154474527    116
14      15   997937239  1469330735   1700
16      17  1127468587  1127476640    363
18      19   855190091   855195373    423

In [11]:
def find_time(row):
    time_min = row['min']
    time_max = row['max']
    return (time_max-time_min)/3600/24

In [13]:
filter_ratings['lifetime'] = filter_ratings.apply(find_time, axis=1)
filter_ratings['lifetime'].mean()

463.89476214829165