In [1]:
import pandas as pd

In [3]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [13]:
filter_ratings = ratings.groupby('movieId').agg('mean')['rating'].reset_index()
filter_ratings.head()

   movieId    rating
0        1  3.872470
1        2  3.401869
2        3  3.161017
3        4  2.384615
4        5  3.267857

In [27]:
def define_class(row):
    rating = row['rating']
    if rating < 2:
        return 'низкий рейтинг'
    if rating < 4:
        return 'средний рейтинг'
    if rating > 4.5:
        return 'высокий рейтинг'
    return 'не определено'

In [28]:
filter_ratings['class'] = filter_ratings.apply(define_class, axis=1)
filter_ratings.head()

   movieId    rating            class
0        1  3.872470  средний рейтинг
1        2  3.401869  средний рейтинг
2        3  3.161017  средний рейтинг
3        4  2.384615  средний рейтинг
4        5  3.267857  средний рейтинг