In [1]:
import pandas as pd

In [8]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
films = pd.read_csv('ml-latest-small/movies.csv')
films.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [35]:
filter_ratings = ratings.groupby('movieId').agg('mean')['rating'].reset_index()

In [36]:
data = filter_ratings.join(films, on='movieId', how='left', lsuffix="_review")

In [37]:
years = list(range(1950,2010))

In [46]:
def production_year(row, years):
    
    for year in years:
        if str(year) in str(row['title']):
            return year
    
    return 1900

In [47]:
data['year'] = data.apply(production_year, years=years, axis=1)

9066

In [53]:
data_filter = data.groupby(['year']).agg('mean')['rating'].reset_index()
data_filter.sort_values('rating', ascending=False).head()

    year    rating
48  1997  3.569454
25  1974  3.567137
12  1961  3.488254
2   1951  3.484776
32  1981  3.455201